<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
<a >
    <img style="height: 100px; width: 80px;" src="assets/images/allpro.png" alt="">
    <h6>ALL PRODUCTS</h6>
</a>
        </div>
        <div class="item">
            <a >
                <img style="height: 100px; width: 80px;" src="assets/images/allpro1.png" alt="">
                <h6>CARS</h6>
            </a>  
        </div>
        <div class="item">
            <a >
                <img style="height: 100px; width: 80px;" src="assets/images/allpro2.png" alt="">
                <h6>WRIST-WATCH</h6>
            </a> 
        </div>
        <div class="item">
            <a >
                <img style="height: 100px; width: 80px;" src="assets/images/allpro3.png" alt="">
                <h6>HOUSE</h6>
            </a>  
        </div>
        <div class="item">
            <a >
                <img style="height: 100px; width: 80px;" src="assets/images/allpro4.png" alt="">
                <h6>COMPUTERS</h6>
            </a>  
        </div>
    </div>
</div>
