<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
<a >
    <img style="height: 100px; width: 80px;" src="assets/images/allpro.png" alt="">
    <h6>ALL PRODUCTS</h6>
</a>
        </div>
        <div class="item">
            <a >
                <img style="height: 100px; width: 80px;" src="assets/images/allpro1.png" alt="">
                <h6>CARS</h6>
            </a>  
        </div>
        <div class="item">
            <a >
                <img style="height: 100px; width: 80px;" src="assets/images/allpro2.png" alt="">
                <h6>WRIST-WATCH</h6>
            </a> 
        </div>
        <div class="item">
            <a >
                <img style="height: 100px; width: 80px;" src="assets/images/allpro3.png" alt="">
                <h6>HOUSE</h6>
            </a>  
        </div>
        <div class="item">
            <a >
                <img style="height: 100px; width: 80px;" src="assets/images/allpro4.png" alt="">
                <h6>COMPUTERS</h6>
            </a>  
        </div>
    </div>
</div>

<div style="margin-top: 40px;" class="container">
<div class="row">
<ng-container *ngFor="let item of productlist">
    <div class="card col-md-3">
        <img src="{{item.image}}" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; max-width: 100ch;">{{item.tittle}}</h5>
        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.description}}</p>
        <p><strong>price:</strong> ${{item.price}}</p>
        <button class="btn btn-primary" (click)="addtocart(item)">Add to Cart</button>
        </div>       
</ng-container>

</div>
</div>
